@{
    Layout = ViewBag.LayoutName;
    var dil = TempData["dil"];
}

@using Animal_Shelter_WebProject.Models.Entities;

@model List<Pet>

@if(dil=="us")
{

    <div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="card-description">
                        <h4 class="card-title">Animals</h4>
                    </p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Name </th>
                                <th> Gender</th>
                                <th> Age </th>
                                <th> Breed </th>
                                <th> Date of Birth </th>
                                <th> Weight </th>
                                <th> Neutered </th>
                                <th> Explanation </th>
                                <th> Settings </th>
                                <th> Adoption Situations </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name </td>
                                    <td>@item.Gender</td>
                                    <td> @item.AgeOrMonth </td>
                                    <td> @item.Breed </td>
                                    <td> @item.BirthDate.Value.ToString("dd MMMM yyyy")  </td>
                                    <td> @item.Weight </td>
                                    <td> @item.Kisirlik </td>
                                    <td> @item.About </td>
                                    <td>
                                        <a asp-controller="Pet" asp-action="EditPet" asp-route-petId="@item.Id" asp-route-dil="us">Edit</a> |
                                        <a asp-controller="Pet" asp-action="DeletePet" asp-route-petId="@item.Id" asp-route-dil="us">Delete</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Adoption" asp-action="Talepler" asp-route-petUserId="@item.UserId" asp-route-petId="@item.Id" asp-route-dil="us" desabled>
                                            <button type="submit" class="btn btn-primary" desabled="false">Requests</button>
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="col-lg-12 text-center">
            <a asp-controller="Pet" asp-action="AddPet" asp-route-dil="us" asp-route-log="In">
                <button type="button" class="btn btn-primary">Add Animal</button>
            </a>
        </div>
        <br />
    </div>

}
else
{

    <div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="card-description">
                        <h4 class="card-title">Hayvanlar</h4>
                    </p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Adı </th>
                                <th> Cinsiyeti</th>
                                <th> Yaşı </th>
                                <th> Cinsi </th>
                                <th> Doğum Tarihi </th>
                                <th> Kilo </th>
                                <th> Kısırlık </th>
                                <th> Açıklama </th>
                                <th> Ayarlar </th>
                                <th> Sahiplenme Durumları </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name </td>
                                    <td>@item.Gender</td>
                                    <td> @item.AgeOrMonth </td>
                                    <td> @item.Breed </td>
                                    <td> @item.BirthDate.Value.ToString("dd MMMM yyyy")  </td>
                                    <td> @item.Weight </td>
                                    <td> @item.Kisirlik </td>
                                    <td> @item.About </td>
                                    <td>
                                        <a asp-controller="Pet" asp-action="EditPet" asp-route-petId="@item.Id">Düzenle</a> |
                                        <a asp-controller="Pet" asp-action="DeletePet" asp-route-petId="@item.Id">Sil</a>
                                    </td>
                                    <td>
                                        <a asp-controller="Adoption" asp-action="Talepler" asp-route-petUserId="@item.UserId" asp-route-petId="@item.Id" desabled>
                                            <button type="submit" class="btn btn-primary" desabled="false">Talepler</button>
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="col-lg-12 text-center">
            <a asp-controller="Pet" asp-action="AddPet">
                <button type="button" class="btn btn-primary">Hayvan Ekle</button>
            </a>
        </div>
        <br />
    </div>

}


